$main-bg-color: #333333;
$secondary-bg-color: #1a1a1a;
$subcolor-1: #ff6700;
$subcolor-2: #ff9c5a;
$white-color: #e9e8e4;
$grey-color: #777676;
/* games colors */
$purple-color: #6937e6;
$yellow-color: #effd5f;
$orange-color: #e0773e;
$red-color: #c8302f;
$green-color: #6fe3a5;
$blue-color: #0d49f5;
